img {
    border-radius: 50%;
}

button {
    height: 100px;
    width: 100px;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-evenly;

}

.heading {
    background-color: black;
    color: white;
    font-weight: bolder;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
}

#game-board {
    background: linear-gradient(
        to right, 
        red 0%, 
        red 50%, 
        blue 50%, 
        blue 100%
    );
    padding: 25px;
}

#results {
    background-color: rgb(167, 167, 167);
}

#selection-board {
    background: grey;
}

.selection-title {
    text-align: center;
}

#selection-board input {
    width: 100px;
}
